<mat-card class="margin-abm">
    <mat-card-header>
        <mat-card-title> {{ title }} <strong *ngIf="required" class="requiredAsterisk"> * </strong>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="margin-16">

        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" *ngFor="let item of data" (click)="updateItemSelected(item)" [value]="item">{{item.description}} </mat-radio-button>
        </mat-radio-group>

    </mat-card-content>
</mat-card>
