<mat-card class="margin-abm">
    <mat-card-header>
        <mat-card-title> {{ title }} <strong *ngIf="required" class="requiredAsterisk"> * </strong>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="margin-16">

        <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-3 center-xs">
                <h5> {{ titleRight }} </h5>
            </div>
            <div class="col-xs-3 center-xs">
                <h5> {{ titleWrong }} </h5>
            </div>
        </div>
        <mat-radio-group *ngFor="let item of data" [(ngModel)]="item.value">
            <div class="row row-radio-buton">
                <div class="col-xs-6">
                    <label id="example-radio-group-label">  {{item.description}} </label>

                </div>
                <div class="col-xs-3 center-xs" (click)="updateData()">

                    <mat-radio-button [value]="true"></mat-radio-button>

                </div>
                <div class="col-xs-3 center-xs" (click)="updateData()">

                    <mat-radio-button [value]="false"> </mat-radio-button>

                </div>
            </div>
        </mat-radio-group>


    </mat-card-content>
</mat-card>