.card-header {
    justify-content: center;
}

.card-title {
    text-align: center;
    font-size: xx-large;
}

.card-description {
    font-size: larger;
    max-width: 700px;
    margin: 0 auto;
}

.description-required {
    color: #d93025;
}

.row-radio-buton {
    padding: 8px;
    height: 2.5em;
    text-align: left;
}

.right-align {
    text-align: right;
}

.margin-16 {
    margin: 0 16px;
}
