<footer>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="row bottom-xs center-xs footer-row">
                <div class="col-xs-6">
                    <div class="box">
                        <span>ACU - Reportes!</span>
                        <span class="example-spacer"></span>
                        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
                            verified_user
                        </mat-icon>
                    </div>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

</footer>
